/* Base, initial styling
 * ========================================================================== */


/*
 * Box sizing border box for everything
 * http://paulirish.com/2012/box-sizing-border-box-ftw/
 */
* {
	@include box-sizing(border-box);
}

html {
	color: $base-font-color;
	font: $base-font-size $base-font-family: $;
}

body {

}

/* ==========================================================================
 *  Images. Inspired by inuit.css
 * ========================================================================== */

/* Fluid images */
img{
    max-width:100%;
}

/* Non fluid images. Have to specify  width and/or height */
img[width],
img[height]{
    max-width:none;
}


/* Rounded images. */
.img--round { border-radius:$base-border-radius; }


/* Image positions */
.img--right{
    float:right;
    margin-bottom:$base-spacing-unit;
    margin-left:$base-spacing-unit;
}
.img--left{
    float:left;
    margin-right:$base-spacing-unit;
    margin-bottom:$base-spacing-unit;
}
.img--center{
    display:block;
    margin-right:auto;
    margin-bottom:$base-spacing-unit;
    margin-left:auto;
}

/* Images in `figure` elements. */
figure > img{
    display:block;
}

/* ==========================================================================
   Lists. From inuit.css v5.0.0
   ========================================================================== */

/* Remove vertical spacing from nested lists. */
li{
    > ul,
    > ol{
         margin-bottom:0;
     }
}

/* Have a numbered `ul` without the semantics
 * implied by using an `ol`. */

/*ul*/.numbered-list{
    list-style-type:decimal;
}


/* ==========================================================================
   Base styles from h5bp v4.2.0.
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




////////////////////////

$base-line-height
$base-font-size
$debug-mode == false;